body{
  background-color: white;
}
.page-header{
  background-color: rgba(55,64,118);
}

.page-header .promo{
  color: white;
  font-size: 25px;
}

.header-logo img{
  height: 80px;
  width: 80px;
}

.main-box{
  margin: 0;
  display: grid;
  grid-template-columns: 3fr 1fr;
  height: 700px;
}
.box{
  overflow: hidden;
  border-right: 5px solid black;
}

.box img{
  cursor: grab;
  position: relative;
  object-fit: cover;
}

.container {
    width: 1200px;
    height: 700px;
    position:relative;
    border-right: 5px solid black;
    overflow: hidden;
}

.container img {
    min-width: 100%;
    min-height: 100%;
    cursor: grab;
    object-fit: cover;
}
