{% extends "index.html" %}
{% block content %}
<nav>
  <a href="#spes" class="double-border-button">Описание</a>
  <a href="#target" class="double-border-button">Цель</a>
</nav>
<div class = 'graph'>
  <h2> Посмотеть результат аналитики Wikidata</h2>
  <div class = 'button'>
    <a href="{% url 'graph' %}" id = 'tograph' class="border-button">перейти к графу</a>
  </div>
</div>
<hr class = 'line'>
<main>
  <div class = 'headline' id = 'spes'>
      <h2>Описание проекта</h2>
  </div>
  <div class = 'text' >
    <p>
      Wikipedia как феномен, создаваемый усилиями огромного числа людей разных культур и профессий
      представляет интерес для анализа, т.к отражает как содержательную компоненту информации,
      так и ее актуальную востребованность и распространенность.
    </p>
    <p>
      Математика является базовой и четко структурированной областью знания, что упрощает работу с данными,
      но в то же время позволяет получить фундаментальные результаты, которые затем могут быть использованы,
      например для улучшений учебных курсов и программ, или для методик интеллектуальной оцифровки других предметных областей.
    </p>
  </div>
  <div class = 'headline' id = 'target'>
    <h2>Цель проекта<h2>
  </div>
  <div class = 'text' >
    <p>
      Целью проекта является как структурно и содержательно представлена в открытых,
      общественно формируемых данных выбранная предметная область (математика).
    </p>
    <p>
      Проанализировать востребованность пользователями интернета и внутреннюю значимость элементов выявленной структуры.
    </p>

  </div>
</main>
<div class = 'page-footer'>
</div>
{% endblock %}
